{% extends 'base.html' %}
{% load static %}
{% block content %}
<section class="container pt-3">
    <br><br>
    <div class="row text-center pt-5">
        <div class="col-lg-6 m-auto">
            <h1 class="h1">Artículos por categoría</h1>
        </div>
    </div>
    <div class="col-lg-6">
        {% for i in posts %}
        <lu>
            <h4 class="text-center mt-3 mb-3">{{ i.title }}</h4>
            <p class="text-center"><a class="btn btn-success" href="{% url 'apps.posts:post_individual' i.id %}">Ingresá</a>
        </lu>
        
        
        {% empty %}
            <h3 class="text-center mt-3 mb-3">No hay post en esta categoría</h3>
        {% endfor %}

    </div>
</section>
{% endblock %}